header {
    background: linear-gradient(to right, rgb(1, 1, 66), rgb(176, 4, 133));
    text-align: center;
    padding: 20px;
    position: relative;
    z-index: 1;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em; 
    color: white;
    margin-top: 10px; 
}

body {
    background: linear-gradient(to right, rgb(28, 59, 196), rgb(132, 6, 90));
    margin: 0;
    font-family: Arial, sans-serif;
}

.profile-container {
    text-align: center; 
    margin: 20px;
    color: white; 
}

.channels-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
}

.channel {
    background-color: rgb(172, 149, 149);
    border: 1px solid #310000;
    border-radius: 50px;
    margin: 15px;
    padding: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
}

.channel:hover {
    transform: scale(1.05);
    border-radius: 50px;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 250px;
}

.button-container {
    margin-top: 10px;
}

.button-container button {
    background: linear-gradient(to right, red, rgb(80, 1, 1));
    border: none;
    padding: 10px 20px;
    color: rgb(229, 226, 232);
    font-size: 1rem;
    border-radius: 250px;
    cursor: pointer;
    transition: transform 0.2s;
}

.button-container button:hover {
    transform: scale(1.1);
}

/* Fix button colors */
button {
    background: linear-gradient(to right, red, rgb(80, 1, 1));
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #ba0505;
}
